.ExchangeCard {
  width: 200px;
  height: 200px;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  word-wrap: break-word;
  position: relative;

  &__current {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
  }

  &__previous {
    position: absolute;
    bottom: 2.5rem;
    left: 6rem;
    font-size: 0.8rem;
    color: red;
    text-decoration: line-through;
  }

  &__char-code {
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
